/* https://stackoverflow.com/questions/46044589/dynamically-resize-columns-in-css-grid-layout-with-mouse */

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300&display=swap');
@import url('https://fonts.cdnfonts.com/css/agencyfb-2');
*:before, *:after, *, ::after, ::before {box-sizing: border-box;}
body, html {
  background: linear-gradient(#182c38, #101925);
  background-size: cover;
  overflow: hidden;
}
body {
  font-family: 'Oxanium', sans-serif;
  font-size: 1rem;
  color: rgba(255,255,255,0.5);
  text-shadow: -1px 1px 0 rgba(0,0,0,0.5);
  padding: 0;
  margin: 0;
}

app-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  padding: 1rem;
  height: 100vh;
  overflow: hidden;
}

/* ALL PANELS */
app-panel {
  display: grid;
  grid-auto-rows: auto;
  border-radius: .3rem;
  overflow: hidden;
  border: solid 1px rgba(255,255,255,0.1);
  align-content: start;
  justify-content: start;
}

/* HEADER/FOOTER */
app-panel:first-of-type,
app-panel:last-of-type {
  grid-column: 1 / -1;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 1fr auto;
  background-color: rgba(255,255,255,0.03);
  padding: 1rem;
}

/* FOOTER */
app-panel:last-of-type {justify-items: end;}

/* NAV */
app-panel:nth-of-type(2) {
  overflow: auto;
  width: max-content;
}

/* SEARCH RESULTS */
app-panel:nth-of-type(3) {
  resize: horizontal;
  overflow: auto;
  min-width: 20rem;
  max-width: 60vw;
}

p, h2 {
  margin: 0;
  padding: 1rem
}

h2 {
  font-family: 'agency_fb', sans-serif;
  letter-spacing: .05rem;
  font-weight: normal;
}

small {padding: 0 1rem;}

/* input[type="checkbox"] {
	accent-color: limegreen;
} */

/* SCROLLABLE CONTENT ONLY */
app-panel-scroll {
  display: grid;
  overflow: auto;
  z-index: +1;
}

panel-list {
  display: grid;
  overflow: auto;
  gap: 2px;
}

list-item {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  border-radius: .1rem;
  justify-content: stretch;
  background-color: rgba(255,255,255,0.03);
  transition: background-color 250ms, color 250ms;
  cursor: pointer;
}

list-item:hover {
  background-color: rgba(117,193,255,0.2);
  color: rgba(255,255,255,1.0);
}

list-cell {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: .5rem;
}

list-cell:first-of-type {width: auto;}

app-panel:nth-of-type(2) list-cell:last-of-type {
  color: rgba(255, 255, 255, 0.3);
  font-size: .75rem;
  font-family: 'agency_fb', sans-serif;
  letter-spacing: .1rem;
}


/* CARDS */
.card {
  --bs-border-color: #FFFFFF;
  position: relative;
  border: none;
}

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 1px;
  --bs-card-border-color: rgba(255, 255, 255, 0.3);
  --bs-card-border-radius: 0;
  --bs-card-inner-border-radius: 0;
  --bs-card-cap-padding-y: 0.55rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: none;
  --bs-card-bg: none;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.card:not(.border-0):before {
  left: 15px;
  right: 15px;
  top: 0;
  bottom: 0;
  border-top: 1px solid var(--bs-border-color);
  border-bottom: 1px solid var(--bs-border-color);
  opacity: .3;
}

.card:not(.border-0):after {
  top: 15px;
  bottom: 15px;
  left: 0;
  right: 0;
  border-left: 1px solid var(--bs-border-color);
  border-right: 1px solid var(--bs-border-color);
  opacity: .3;
}

.card:after, .card:before {
  content: "";
  position: absolute;
}

.card:after, .card:before {
  content: "";
  position: absolute;
}

.card>:not(.card-arrow):not(.card-img-overlay):not(.card-img):not(.hljs-container) {
  position: relative;
  z-index: 10;
}

.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}

/* CARDS ARROWS */
.card .card-arrow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card .card-arrow-bottom-left,
.card .card-arrow-top-left {left: 0;}

.card .card-arrow-bottom-right,
.card .card-arrow-top-right {right: 0;}

.card .card-arrow-top-left,
.card .card-arrow-top-right {top: 0;}

.card .card-arrow-bottom-left,
.card .card-arrow-bottom-right {bottom: 0;}

.card .card-arrow-bottom-left,
.card .card-arrow-bottom-right,
.card .card-arrow-top-left,
.card .card-arrow-top-right {
  width: 10px;
  height: 10px;
  position: absolute;
}

.card .card-arrow-bottom-left:after,
.card .card-arrow-bottom-left:before,
.card .card-arrow-top-left:after,
.card .card-arrow-top-left:before {left: 0;}

.card .card-arrow-top-left:before,
.card .card-arrow-top-right:before {top: 2px;}
.card .card-arrow-bottom-left:before,
.card .card-arrow-bottom-right:before,
.card .card-arrow-top-left:before,
.card .card-arrow-top-right:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 8px;
  background: var(--bs-border-color);
  opacity: .75;
}

.card .card-arrow-top-left:after,
.card .card-arrow-top-right:after {top: 0;}

.card .card-arrow-bottom-left:after,
.card .card-arrow-bottom-right:after,
.card .card-arrow-top-left:after,
.card .card-arrow-top-right:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background: var(--bs-border-color);
  opacity: .75;
}

.card .card-arrow-bottom-right:after,
.card .card-arrow-bottom-right:before,
.card .card-arrow-top-right:after,
.card .card-arrow-top-right:before {right: 0;}

.card .card-arrow-top-left:before,
.card .card-arrow-top-right:before {top: 2px;}
.card .card-arrow-bottom-left:before,
.card .card-arrow-bottom-right:before,
.card .card-arrow-top-left:before,
.card .card-arrow-top-right:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 8px;
  background: var(--bs-border-color);
  opacity: .75;
}

.card .card-arrow-top-left:after,
.card .card-arrow-top-right:after {top: 0;}

.card .card-arrow-bottom-left:after,
.card .card-arrow-bottom-right:after,
.card .card-arrow-top-left:after,
.card .card-arrow-top-right:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background: var(--bs-border-color);
  opacity: .75;
}

.card .card-arrow-bottom-left:after,
.card .card-arrow-bottom-left:before,
.card .card-arrow-top-left:after,
.card .card-arrow-top-left:before {left: 0;}

.card .card-arrow-bottom-left:before,
.card .card-arrow-bottom-right:before {bottom: 2px;}
.card .card-arrow-bottom-left:before,
.card .card-arrow-bottom-right:before,
.card .card-arrow-top-left:before,
.card .card-arrow-top-right:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 8px;
  background: var(--bs-border-color);
  opacity: .75;
}

.card .card-arrow-bottom-left:after,
.card .card-arrow-bottom-right:after {bottom: 0;}

.card .card-arrow-bottom-left:after,
.card .card-arrow-bottom-right:after,
.card .card-arrow-top-left:after,
.card .card-arrow-top-right:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background: var(--bs-border-color);
  opacity: .75;
}

.card .card-arrow-bottom-right:after,
.card .card-arrow-bottom-right:before,
.card .card-arrow-top-right:after,
.card .card-arrow-top-right:before {right: 0;}

.card .card-arrow-bottom-left:before,
.card .card-arrow-bottom-right:before {bottom: 2px;}
.card .card-arrow-bottom-left:before,
.card .card-arrow-bottom-right:before,
.card .card-arrow-top-left:before,
.card .card-arrow-top-right:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 8px;
  background: var(--bs-border-color);
  opacity: .75;
}

.card .card-arrow-bottom-left:after,
.card .card-arrow-bottom-right:after {bottom: 0;}
.card .card-arrow-bottom-left:after,
.card .card-arrow-bottom-right:after,
.card .card-arrow-top-left:after,
.card .card-arrow-top-right:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background: var(--bs-border-color);
  opacity: .75;
}



.card-body {padding: 1rem;}

.card:after, .card:before {
  content: "";
  position: absolute;
}
