/* https://stackoverflow.com/questions/46044589/dynamically-resize-columns-in-css-grid-layout-with-mouse */

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300&display=swap');
@import url('https://fonts.cdnfonts.com/css/agencyfb-2');
*:before, *:after, *, ::after, ::before {box-sizing: border-box;}
/* body, html {
   background: linear-gradient(#182c38, #101925);
  background-size: cover;
  overflow: hidden;
} */
body {
  font-family: 'Oxanium', sans-serif;
  font-size: 1rem;
  color: rgba(255,255,255,0.5);
  text-shadow: -1px 1px 0 rgba(0,0,0,0.5);
  padding: 0;
  margin: 0;
}
html:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -5;
  background: linear-gradient(180deg,rgba(50,70,80,.9) 0,#0d101b 100%);
}
body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-attachment: initial;
  background-color: transparent;
  background-image: url(/assets/images/pattern.png);
  background-size: 4.6875rem;
  background-repeat: repeat;
  background-attachment: initial;
  z-index: -5;
}
html:after {
  content: "";
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  z-index: -10;
  background-color: #273136;
  background-image: linear-gradient(180deg,rgba(50,70,80,.9) 0,#0d101b 100%);
  background-image: url(/assets/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: initial;
  height: 100vh;
  transition: background .2s linear;
  background-size: cover;
}


app-container {
  display: grid;
  /* grid-template-columns: repeat(var(--columns), minmax(100px, 1fr)); */
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  padding: 1rem;
  height: 100vh;
  overflow: hidden;
}

/* ALL PANELS */
app-panel {
  display: grid;
  grid-auto-rows: auto;
  border-radius: .3rem;
  overflow: hidden;
  border: solid 1px rgba(255,255,255,0.1);
  align-content: start;
  justify-content: start;
}

/* HEADER/FOOTER */
app-panel:first-of-type,
app-panel:last-of-type {
  grid-column: 1 / -1;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 1fr auto;
  background-color: rgba(255,255,255,0.03);
  padding: 1rem;
}

/* FOOTER */
app-panel:last-of-type {justify-items: end;}

/* NAV */
app-panel:nth-of-type(2) {
  width: max-content;
}

/* SEARCH RESULTS */
app-panel:nth-of-type(3) {
  resize: horizontal;
  min-width: 20rem;
  max-width: 60vw;
}

p, h2 {
  margin: 0;
  padding: 1rem
}

h2 {
  font-family: 'agency_fb', sans-serif;
  letter-spacing: .05rem;
  font-weight: normal;
}

small {padding: 0 1rem;}

/* input[type="checkbox"] {
	accent-color: limegreen;
} */

/* SCROLLABLE CONTENT ONLY */
app-panel-scroll {
  display: grid;
  overflow: auto;
  z-index: +1;
}

panel-list {
  display: grid;
  overflow: auto;
  gap: 2px;
}

list-item {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  border-radius: .1rem;
  justify-content: stretch;
  background-color: rgba(255,255,255,0.03);
  transition: background-color 250ms, color 250ms;
  cursor: pointer;
}

list-item:hover {
  background-color: rgba(117,193,255,0.2);
  color: rgba(255,255,255,1.0);
}

list-cell {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: .5rem;
}

list-cell:first-of-type {width: auto;}

app-panel:nth-of-type(2) list-cell:last-of-type {
  color: rgba(255, 255, 255, 0.3);
  font-size: .75rem;
  font-family: 'agency_fb', sans-serif;
  letter-spacing: .1rem;
}


/* PANEL BORDER LINES */
app-panel:not(:first-of-type):not(:last-of-type) {
  --border-color: #FFFFFF;
  position: relative;
  border-radius: 0;
  border: none;
}

app-panel:not(:first-of-type):not(:last-of-type) {
  position: relative;
  background-clip: border-box;
}

app-panel:after,
app-panel:before {
  content: "";
  position: absolute;
  opacity: .2;
}

app-panel:before {
  left: 15px;
  right: 15px;
  top: 0;
  bottom: 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

app-panel:after {
  top: 15px;
  bottom: 15px;
  left: 0;
  right: 0;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

/* PANEL CORNER */
panel-corner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

panel-corner-bottom-left,
panel-corner-top-left {left: 0;}

panel-corner-bottom-right,
panel-corner-top-right {right: 0;}

panel-corner-top-left,
panel-corner-top-right {top: 0;}

panel-corner-bottom-left,
panel-corner-bottom-right {bottom: 0;}

panel-corner-bottom-left,
panel-corner-bottom-right,
panel-corner-top-left,
panel-corner-top-right {
  width: 1rem;
  height: 1rem;
  position: absolute;
}

panel-corner-bottom-left:after,
panel-corner-bottom-left:before,
panel-corner-top-left:after,
panel-corner-top-left:before {left: 0;}

panel-corner-top-left:before,
panel-corner-top-right:before {top: 2px;}

panel-corner-bottom-left:before,
panel-corner-bottom-right:before {bottom: 2px;}

panel-corner-top-left:after,
panel-corner-top-right:after {top: 0;}

panel-corner-bottom-left:after,
panel-corner-bottom-right:after {bottom: 0;}

panel-corner-bottom-right:after,
panel-corner-bottom-right:before,
panel-corner-top-right:after,
panel-corner-top-right:before {right: 0;}

panel-corner-bottom-left:before,
panel-corner-bottom-right:before,
panel-corner-top-left:before,
panel-corner-top-right:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 8px;
  background: var(--border-color);
  opacity: .5;
}

panel-corner-bottom-left:after,
panel-corner-bottom-right:after,
panel-corner-top-left:after,
panel-corner-top-right:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background: var(--border-color);
  opacity: .5;
}
